<p> <h5>Programming Languages</h5> <br> Python, C#, Java, C++</p>
<p> <h5>Coding Skills</h5> <br> Versioning (Git), Unit-Testing, Containerized Deployment (Docker), Databases & Data Analysis, RESTAPIs</p>
<p> <h5>Natural Language Processing</h5> <br> NLTK, Spacy, Scikit-learn, pandas, Tensorflow, PyTorch, LangChain, ElasticSearch, Working with Large Language Models (LLMs)</p>
<p> <h5>Internet of Things</h5> <br> Raspberry Pi, Arduino, Adafruit, MQTT, OpenHAB</p>
<p> <h5>Game Development</h5> <br> Unity, Game Maker Studio 2, Blender, Inkscape, Gimp</p>